button:focus {
    outline: none;
}

button {
  border-radius: 0px;
  margin-top: 10px;
  border: 1px solid $colorButton;
  background-color: $colorButton;
  color: $colorButtonText;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 25px;

}

.delete {
  color: white;
  background-color: $colorButtonDelete;
}

button:hover{
  // background-color: $colorButtonHover;
  border: 1px solid $colorButtonText;
  background-color: $colorButton;
  color: $colorButtonTextHover;
}
