$colorNavBar: #444;
$colorNavLogo: white;
$colorNavItem: #AAA;
$colorNavItemHover: #EEE;

$colorBody: #f0eff4;

$colorFontMain: #555;
$colorTableHeaderLine: #CCCCCC;
$colorTableLine: #DDD;
$acid: lime;

$colorTime: cyan;
$colorDate: #ffcaa3;

$colorDataOverdue: #C60000;
$colorDataPaid: #BBB;
