$colorNavBar: #444;
$colorNavBarDark: #2c2f32;
$colorNavLogo: white;
$colorNavItem: #AAA;
// $colorNavItemHover: #EEE;
// $colorNavItemHover:  #FAFAFA;
$colorNavItemHover:  #f7be62;
$colorBody: #f0eff4;

$colorFontMain: #555;
$colorFontHover: #888;
$colorTableHeaderLine: #CCCCCC;
$colorTableLine: #D0D0D0;
$acid: lime;

$colorButtonHover: #CCCCCC;
$colorButton: #DCDCDC;
$colorButtonText: #555;
$colorButtonTextHover: #666;
$colorButtonDelete: #C60000;


$colorTime: cyan;
$colorDate: #ffcaa3;
$colorDate: #ff8b2d;

$colorDataOverdue: #C60000;
$colorDataPaid: #BBB;

$colorNegative: #C60000;
$colorPositive: #1eb700;
$colorEqual: dodgerblue;

.negative {
  font-size: 20px;
  font-weight: 800;
  color: $colorNegative;
}
.equal {
  font-size: 23px;
  font-weight: 600;
  color: $colorEqual;
}

.positive {
  font-size: 20px;
  font-weight: 800;
  color: $colorPositive;
}
