$colorNavBar: #444;
$colorNavLogo: white;
$colorNavItem: #AAA;
$colorNavItemHover: #EEE;

$colorBody: #f0eff4;

$colorFontMain: #555;
$colorFontHover: #888;
$colorTableHeaderLine: #CCCCCC;
$colorTableLine: #DCDCDC;
$acid: lime;

$colorButtonHover: #CCCCCC;
$colorButton: #DCDCDC;
$colorButtonText: #555;
$colorButtonTextHover: #666;
$colorButtonDelete: #C60000;


$colorTime: cyan;
$colorDate: #ffcaa3;

$colorDataOverdue: #C60000;
$colorDataPaid: #BBB;

$colorNegative: #C60000;
$colorPositive: #1eb700;
$colorEqual: dodgerblue;
