.cell {
  color: $colorFontMain;
  text-decoration: none;
}

.cell:hover {
  color: $colorFontHover;
  text-decoration: none;
}


.overdue {
  text-decoration: none;
  color: $colorDataOverdue;
}

.paid {
  color: $colorDataPaid;
}

.decimal {
  font-size: 12px;
  vertical-align: super;
  // text-decoration: underline;
}

.icons {
  margin: 3px 3px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  // border: 1px solid magenta;


}

.icon {
  border-radius: 50%;
  border: 1 solid rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  color: $colorButtonText;
  line-height: 25px;
  padding: 0;
}

icon:hover {
  border: 2px solid rgba(255,255,255,1);
  background-color: rgba(255,255,255,1);
}

icon:focus {
    outline: none;
}

.iconTitle {
  text-align: center;
  // border: 1px solid lime;
}



.dataTable {
  // border: 1px solid yellow;
  color: $colorFontMain;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 30px;


  .rowHeader {
    border-bottom: 1px solid $colorFontMain;
    font-weight: bold;
    text-transform: uppercase;
  }

  .tableLastRow {
    border-bottom: 0px solid $colorTableLine;
  }

  .tableRow {
    border-bottom: 1px solid $colorTableLine;
  }

  .tableRow, .rowHeader{
    // border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .rowLeft{
      // border: 1px solid orange;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }
    .rowCentre {
      width: 100%;
      // border: 1px solid orange;
      display: flex;
      flex-direction: row;
      justify-content: left;

    }
    .rowRight{
      text-align: right;
      // border: 1px solid orange;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .columnHalf {
      width: 50%;
    }

    .cellCode{
      padding-left: 5px;
      // border: 1px solid cyan;
      width: 100px;
    }
    .cellCodeRight{
      padding-right: 5px;
      // border: 1px solid cyan;
      width: 100px;
      text-align: right;

    }

    .cellThird{
      padding-left: 5px;
      background-color: $colorBody;
      white-space:nowrap;
      width: 33%;
      // border: 1px solid cyan;
    }


    .cellQuarter{
      padding-left: 5px;
      background-color: $colorBody;
      white-space:nowrap;
      width: 25%;
      // border: 1px solid cyan;
    }
    .cellQuarterRight{
      padding-right: 10px;
      background-color: $colorBody;
      white-space:nowrap;
      width: 25%;
      text-align: right;
      // border: 1px solid cyan;
    }

    .cellHalf{
      padding-left: 5px;
      background-color: $colorBody;
      white-space:nowrap;
      // border: 1px solid cyan;
      width: 50%;
    }


    .cellDate{
      padding-left: 5px;
      // border: 1px solid cyan;
      width: 100px;
      text-align: left;
    }

    .cellDateRight{
      padding-right: 5px;
      // border: 1px solid cyan;
      width: 100px;
      text-align: right;
    }


    .cellCurrency{
      padding-right: 5px;
      // border: 1px solid yellow;
      width: 125px;
      text-align: right;
    }

    .cellCurrencyLeft{
      padding-left: 5px;
      // border: 1px solid yellow;
      width: 125px;
      text-align: left;
    }
    .cellTemp{
      padding-left: 5px;
      // border: 1px solid cyan;
      width: 150px;
      text-align: left;
    }



    .cellComparator {
      text-align: right;
      width: 30px;
      .negative {
        font-size: 20px;
        font-weight: 800;
        color: $colorNegative;
      }
      .equal {
        font-size: 23px;
        font-weight: 600;
        color: $colorEqual;
      }

      .positive {
        font-size: 20px;
        font-weight: 800;
        color: $colorPositive;
      }
    }
  }
}
