.subHeader1 {
  // border: 1px solid orange;
  font-weight: 600;
  text-decoration: none;
  font-size: 25px;
  margin: 5px 0;
  padding-left: 5px;
}

.subHeader2 {
  // border: 1px solid red;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  padding-left: 5px;
}

.subHeader2Right {
  // border: 1px solid red;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  padding-right: 5px;
  text-align: right;
}

.subHeader2Currency {
  // border: 1px solid red;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  width: 125px;
  padding-right: 5px;
  text-align: right;
}
.subHeader2Label {
  // border: 1px solid red;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  padding-right: 5px;
  text-align: right;
}

.subHeader3 {
  // border: 1px solid blue;
  font-size: 15px;
  padding-left: 5px;
}
.subHeader3Right {
  // border: 1px solid blue;
  font-size: 15px;
  padding-right: 5px;
  text-align: right;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.columnsRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
