.modal-content {
  // background-color: $colorBody;
  border: 1px solid $colorButton;
  border-radius: 0px;

  button:hover {
    border: 1px solid $colorButtonText;
    background-color: $colorButton;
  }


}
