
.outerbox {
  align-items: center;

}

.modal-body {
  align-items: center;
  padding-left: 25%;
  padding-right: 25%;
}

.modal-content select {
  width: 100%;
}

.modal-content input {
  width: 100%;
}

.modal-content DayPickerInput {
  width: 100%;
}

.LoginContainer {
  max-width: 350px;
}
