@import 'colors.scss';
@import 'nav.scss';
@import 'headers.scss';
@import 'buttons.scss';
@import 'modals.scss';
@import 'dropDown.scss';
@import 'pieChart.scss';
@import 'dataTable.scss';
@import 'statsTable.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $colorBody;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  text-decoration: none;
  user-select: none; //make text unhighlightable
}

* {
  box-sizing: border-box;
}

textarea, select, input, button { outline: none; }

.siteWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bodyWrapper {
  padding: 15px;
  overflow-y: auto;
  border: 1px solid red;
  height: 100%;
  color: $colorFontMain;
}

.overflowFooter {
  height: 1vh;
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 10px black;
}


.container {
  border: 1px solid #888;
}
