
.overdue {
  color: $colorDataOverdue;
}

.paid {
  color: $colorDataPaid;
}

.decimal {
  font-size: 12px;
  vertical-align: super;
  // text-decoration: underline;
}

.dataTable {
  // border: 1px solid yellow;
  color: $colorFontMain;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 25px;

  .rowHeader {
    border-bottom: 1px solid $colorTableHeaderLine;
    margin: 5px 0;
    padding: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tableRow {
    border-bottom: 1px solid $colorTableLine;
  }
  .tableRow, .rowHeader{
    // border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .rowLeft{
      // border: 1px solid orange;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .cellCode{
        // border: 1px solid cyan;
        width: 100px;
      }
    }
    .rowCentre {
      width: 100%;
      // border: 1px solid orange;
      display: flex;
      flex-direction: row;
      justify-content: left;

    }
    .rowRight{
      text-align: right;
      // border: 1px solid orange;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .cellCurrency{
        // border: 1px solid cyan;
        width: 75px;
      }
    }

    .cellQuarter{
      padding-left: 5px;
      background-color: $colorBody;
      white-space:nowrap;
      width: 25%;
      // border: 1px solid cyan;
    }
    .cellHalf{
      padding-left: 5px;
      background-color: $colorBody;
      white-space:nowrap;
      border: 1px solid cyan;
      // width: 50%;
    }

    .cellDate{
      padding-left: 5px;
      // border: 1px solid cyan;
      width: 100px;
      text-align: left;
    }

    .cellCurrency{
      padding-left: 5px;
      border: 1px solid yellow;
      width: 125px;
      text-align: right;
    }
    .cellTemp{
      padding-left: 5px;
      // border: 1px solid cyan;
      width: 150px;
      text-align: left;
    }
  }
}
